.container2 {
  background-color: cornflowerblue;
  background-image: url('../../../assets/fondo.png');
  background-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

mat-card {
  align-items: center;
  justify-content: center;
  background-color:wheat;
  width: 60%;
  text-align: center;
}

mat-card-header {

  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  padding: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
